body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

main h1,
main h2,
main h3 {
  margin-top: 2rem;
}

main p {
  margin-bottom: 1.25rem;
}
pre {
  background-color: #EEEEEE; /* dark background */
  padding: 1em;
  border-radius: 8px;
  overflow-x: auto;
}

